.agregar{
    -fx-background-color: #ffffff;
    -fx-shape:"M1282 5105 c-117 -26 -170 -45 -269 -94 -198 -100 -360 -264 -458
    -466 -84 -172 -100 -244 -100 -460 0 -158 3 -190 23 -260 31 -108 82 -220 139
    -307 58 -90 196 -230 282 -287 l65 -42 0 -1542 1 -1542 22 -35 c12 -19 35 -43
    51 -52 28 -17 115 -18 1429 -18 l1400 0 405 397 406 397 2 1891 1 1891 -23 34
    c-13 19 -39 43 -58 54 -35 21 -43 21 -1153 21 l-1117 0 -43 55 c-127 161 -321
    288 -537 350 -98 29 -370 37 -468 15z m1418 -492 c125 -282 142 -632 46 -927
    -70 -213 -167 -369 -330 -532 -115 -115 -206 -183 -336 -250 l-75 -39 875 -5
    875 -5 33 -23 c47 -34 65 -75 59 -135 -3 -40 -11 -56 -41 -85 l-36 -37 -968
    -3 c-957 -2 -967 -2 -1000 18 -48 30 -77 99 -64 152 l10 40 -51 -6 c-246 -30
    -445 -13 -644 56 l-63 22 0 159 c0 124 3 158 12 154 151 -67 240 -92 375 -107
    234 -25 481 35 680 167 76 50 194 162 255 243 62 80 140 241 167 339 71 258
    37 546 -90 779 l-40 72 165 0 165 0 21 -47z m-1150 -102 c55 -29 80 -88 80
    -186 l0 -82 94 -5 c72 -4 102 -10 127 -26 97 -60 91 -199 -11 -253 -26 -14
    -56 -19 -122 -19 l-88 0 0 -88 c0 -66 -5 -96 -19 -122 -54 -103 -197 -108
    -255 -9 -14 23 -20 59 -24 126 l-5 93 -81 0 c-65 0 -91 5 -126 23 -76 39 -103
    130 -57 197 41 61 66 72 170 78 l94 5 5 94 c6 104 17 129 78 171 40 27 93 29
    140 3z m2228 -2271 c98 -60 94 -201 -8 -252 -33 -17 -100 -18 -979 -18 l-943
    0 -39 22 c-48 27 -84 94 -75 140 9 47 42 94 79 112 29 14 132 16 982 16 931 0
    951 0 983 -20z m-698 -595 c92 -55 96 -183 8 -247 l-33 -23 -590 -3 c-396 -2
    -602 0 -627 8 -45 13 -93 66 -102 114 -5 26 -1 49 13 80 21 48 52 74 104 86
    17 5 293 8 612 7 564 -2 581 -3 615 -22z m1570 -753 l0 -78 -73 -72 -72 -72
    -258 0 -257 0 0 -252 -1 -253 -78 -72 -79 -73 -66 0 -66 0 0 410 c0 442 1 451
    53 499 14 13 41 27 59 31 18 4 214 8 436 9 l402 1 0 -78z";
}

.log_out{
    -fx-background-color: #ffffff;
    -fx-shape:"M2054 5005 c-12 -8 -24 -11 -28 -8 -3 3 -6 2 -6 -3 0 -6 -22 -18 -50
    -28 -27 -10 -50 -21 -50 -25 0 -4 -17 -13 -37 -20 -21 -8 -43 -20 -51 -27 -7
    -8 -20 -14 -28 -14 -8 0 -14 -5 -14 -11 0 -5 -5 -7 -10 -4 -6 3 -17 -1 -26 -9
    -8 -9 -22 -16 -30 -16 -8 0 -14 -5 -14 -11 0 -5 -4 -7 -10 -4 -5 3 -10 1 -10
    -5 0 -7 -7 -10 -15 -6 -8 3 -15 1 -15 -4 0 -5 -18 -15 -40 -21 -21 -7 -37 -15
    -35 -19 2 -3 -13 -12 -33 -20 -20 -7 -42 -19 -50 -26 -7 -8 -20 -14 -28 -14
    -8 0 -14 -5 -14 -11 0 -5 -5 -7 -10 -4 -6 3 -17 -1 -26 -9 -8 -9 -22 -16 -30
    -16 -8 0 -14 -5 -14 -11 0 -5 -4 -7 -10 -4 -5 3 -10 2 -10 -2 0 -9 -59 -37
    -72 -34 -5 0 -8 -3 -8 -7 0 -4 -17 -14 -37 -21 -21 -8 -45 -19 -53 -26 -8 -7
    -25 -16 -37 -19 -13 -4 -23 -12 -23 -17 0 -6 -5 -7 -10 -4 -6 3 -17 -1 -26 -9
    -8 -9 -22 -16 -30 -16 -8 0 -14 -4 -14 -10 0 -5 -7 -6 -17 -3 -10 4 -14 2 -10
    -4 4 -7 -5 -14 -23 -18 -16 -4 -30 -11 -30 -16 0 -6 -4 -7 -10 -4 -5 3 -10 1
    -10 -4 0 -6 -7 -11 -15 -11 -8 0 -15 -5 -15 -11 0 -5 -4 -7 -10 -4 -5 3 -10 2
    -10 -2 0 -5 -22 -17 -50 -27 -28 -10 -50 -21 -50 -25 0 -4 -17 -13 -37 -20
    -21 -8 -43 -20 -51 -27 -7 -8 -20 -14 -28 -14 -8 0 -14 -5 -14 -11 0 -5 -5 -7
    -10 -4 -6 3 -17 -1 -26 -9 -8 -9 -22 -16 -30 -16 -8 0 -14 -5 -14 -11 0 -5 -4
    -8 -9 -5 -5 4 -11 3 -13 -1 -5 -13 -68 -43 -89 -43 -11 0 -18 -4 -15 -9 3 -4
    -13 -13 -34 -20 -22 -6 -40 -16 -40 -20 0 -5 -11 -12 -25 -15 -14 -4 -25 -11
    -25 -17 0 -6 -5 -7 -10 -4 -6 3 -17 -1 -26 -9 -8 -9 -22 -16 -30 -16 -8 0 -14
    -4 -14 -10 0 -5 -7 -6 -17 -3 -10 4 -14 2 -10 -4 4 -7 -5 -14 -23 -18 -16 -4
    -30 -10 -30 -14 0 -3 -15 -14 -33 -24 -22 -12 -41 -36 -60 -76 l-27 -58 0
    -1795 c0 -1838 0 -1839 37 -1876 7 -7 13 -19 13 -26 0 -7 16 -21 35 -32 19
    -10 35 -21 35 -25 0 -27 137 -29 1643 -29 1743 0 1613 -6 1688 74 21 22 44 57
    50 76 6 19 15 39 20 45 5 5 9 211 9 457 l0 448 -250 0 -249 0 -3 -263 -3 -264
    -30 -34 c-18 -20 -37 -33 -48 -31 -9 2 -17 -1 -17 -7 0 -8 -290 -11 -986 -11
    -599 0 -983 4 -979 9 3 5 19 12 35 16 17 4 30 11 30 16 0 6 5 7 10 4 6 -3 10
    -1 10 4 0 6 7 11 15 11 8 0 15 5 15 11 0 6 7 9 15 5 8 -3 15 -1 15 3 0 5 22
    17 50 27 27 10 50 21 50 25 0 4 16 13 35 19 19 6 35 15 35 19 0 4 18 14 40 21
    22 7 40 16 40 20 0 3 17 12 37 19 21 8 43 20 51 27 7 8 20 14 28 14 8 0 14 4
    14 10 0 5 7 7 15 4 8 -4 15 -1 15 6 0 6 5 8 10 5 6 -3 10 -1 10 4 0 6 7 11 15
    11 8 0 15 5 15 11 0 5 5 7 10 4 6 -3 10 -1 10 5 0 7 7 10 15 6 8 -3 15 -1 15
    4 0 5 18 15 40 21 21 7 37 15 35 19 -2 4 14 12 35 19 22 6 40 15 40 19 0 5 17
    14 37 21 21 8 43 20 51 27 7 8 20 14 28 14 8 0 14 5 14 11 0 5 5 7 10 4 6 -3
    17 1 26 9 8 9 22 16 30 16 8 0 14 4 14 10 0 5 7 6 17 3 10 -4 14 -2 10 4 -4 6
    5 14 20 18 16 3 30 10 33 14 3 3 16 14 31 23 14 9 39 43 57 76 l32 60 0 221 0
    221 160 0 160 0 0 -25 c0 -14 5 -25 10 -25 6 0 10 -7 10 -17 0 -25 46 -116 69
    -136 12 -9 28 -17 36 -17 8 0 15 -4 15 -10 0 -5 7 -10 15 -10 8 0 15 -5 15
    -11 0 -6 9 -8 20 -4 11 4 20 2 20 -4 0 -8 217 -11 723 -11 l722 0 -198 -196
    c-108 -108 -200 -207 -203 -220 -4 -13 -10 -27 -15 -30 -5 -3 -9 -16 -9 -30 0
    -13 -4 -24 -10 -24 -5 0 -10 -18 -10 -41 0 -24 4 -38 10 -34 6 3 10 -3 10 -14
    0 -39 74 -151 99 -151 11 0 51 -20 61 -30 8 -8 150 -6 150 2 0 3 14 9 30 13
    17 4 30 10 30 15 0 5 10 12 23 16 12 4 207 192 433 418 357 356 416 420 444
    475 28 57 32 72 28 125 -3 34 -13 79 -24 101 -13 26 -166 185 -455 470 -239
    237 -443 436 -452 443 -10 7 -33 16 -52 19 -19 3 -35 10 -35 14 0 5 -18 9 -40
    9 -22 0 -40 -4 -40 -9 0 -5 -18 -11 -40 -15 -22 -3 -40 -11 -40 -16 0 -6 -4
    -9 -8 -8 -24 7 -112 -113 -112 -152 0 -11 -4 -20 -10 -20 -5 0 -10 -18 -10
    -40 0 -22 5 -40 10 -40 6 0 10 -8 10 -18 0 -36 61 -131 126 -196 37 -36 71
    -66 76 -66 5 0 7 -4 4 -9 -3 -4 6 -13 20 -20 15 -6 22 -16 18 -23 -4 -6 -3 -9
    2 -6 5 3 46 -31 92 -76 l82 -81 -710 3 c-477 2 -710 -1 -710 -8 0 -5 -8 -10
    -17 -10 -32 0 -94 -21 -88 -30 3 -5 -4 -11 -15 -15 -11 -3 -27 -19 -37 -36 -9
    -16 -20 -29 -24 -29 -3 0 -12 -19 -19 -42 -7 -24 -17 -47 -22 -52 -4 -6 -8
    -20 -8 -33 l0 -23 -160 0 -160 0 0 845 0 845 386 0 c231 0 383 -4 380 -9 -4
    -5 7 -12 24 -16 16 -4 30 -13 30 -20 0 -7 6 -15 13 -17 9 -4 13 -120 17 -519
    l5 -514 225 -3 c124 -1 235 0 248 3 l22 5 0 690 c0 390 -4 691 -9 694 -5 3
    -12 20 -15 38 -10 56 -119 158 -158 150 -5 -1 -8 1 -8 5 0 5 -261 7 -580 5
    l-580 -3 0 481 c0 543 -1 550 -63 575 -47 19 -97 19 -123 0z";
}

.proveedor{
    -fx-background-color: #ffffff;
    -fx-shape:"M1429 5085 c-93 -34 -193 -128 -237 -223 -34 -75 -42 -202 -17 -287
    18 -63 32 -88 81 -151 l32 -40 -38 -38 c-22 -21 -49 -59 -62 -84 l-23 -47 -3
    -987 -2 -987 -488 -3 -489 -3 -49 -30 c-28 -17 -63 -52 -81 -79 -31 -46 -33
    -53 -33 -141 0 -84 2 -96 28 -133 34 -52 94 -99 141 -112 54 -15 922 -13 975
    2 55 16 150 110 165 164 7 27 11 331 11 977 l0 938 30 -16 c16 -8 50 -18 75
    -22 l45 -6 0 -1063 0 -1064 816 0 c449 0 814 -3 812 -7 -2 -5 -16 -32 -31 -62
    -94 -178 -132 -348 -123 -546 7 -174 34 -271 121 -445 54 -108 111 -184 206
    -275 130 -124 266 -207 429 -261 79 -26 98 -28 287 -32 181 -3 210 -2 288 18
    125 31 211 70 326 145 129 86 234 191 316 318 80 123 108 185 139 306 21 82
    24 116 24 275 0 269 -33 382 -173 594 -131 198 -307 334 -549 423 -61 22 -219
    59 -254 59 -2 0 -4 365 -4 810 0 776 1 810 18 810 50 0 126 -33 166 -73 38
    -38 50 -65 130 -285 49 -133 93 -242 97 -242 11 0 153 52 161 59 7 6 -72 232
    -106 306 -8 17 -28 66 -45 110 -56 147 -116 216 -237 272 l-59 28 -1400 5
    c-1329 5 -1402 6 -1428 23 -95 62 -97 203 -4 265 l41 27 1305 5 1306 5 68 32
    c84 40 163 117 202 198 27 56 30 68 30 175 0 110 -1 118 -33 182 -42 86 -138
    178 -217 207 -44 17 -79 21 -166 21 -102 0 -116 -2 -173 -29 -78 -38 -158
    -118 -199 -200 -27 -54 -32 -78 -35 -156 -5 -99 10 -166 50 -232 l20 -33 -847
    0 -847 0 20 33 c63 102 69 277 15 388 -40 80 -119 160 -197 199 -56 28 -66 30
    -175 29 -70 0 -130 -6 -152 -14z m217 -170 c167 -50 222 -257 101 -383 -50
    -53 -103 -75 -172 -75 -134 1 -229 98 -230 233 0 112 69 205 170 229 58 13 76
    13 131 -4z m2364 4 c64 -14 113 -52 146 -112 23 -42 29 -64 29 -117 -1 -216
    -252 -315 -402 -158 -119 124 -67 332 97 383 55 17 73 17 130 4z m-870 -1374
    l0 -85 -90 0 -90 0 0 85 0 85 90 0 90 0 0 -85z m330 0 l0 -85 -90 0 -90 0 0
    85 0 85 90 0 90 0 0 -85z m330 0 l0 -85 -90 0 -90 0 0 85 0 85 90 0 90 0 0
    -85z m0 -330 l0 -85 -420 0 -420 0 0 85 0 85 420 0 420 0 0 -85z m-670 -1230
    l0 -155 -325 0 -325 0 0 155 0 155 325 0 325 0 0 -155z m-1970 35 c0 -51 -16
    -85 -47 -99 -30 -14 -840 -15 -876 -2 -53 20 -56 110 -5 131 13 5 227 9 476 9
    l452 1 0 -40z m3062 -64 l53 -11 3 -176 2 -175 54 -32 c152 -90 265 -298 266
    -486 0 -43 -7 -59 -62 -142 l-63 -93 -92 -1 -93 0 0 250 0 250 -255 0 -255 0
    0 -250 0 -250 -92 0 -93 0 -64 101 -64 101 7 73 c14 155 66 268 170 370 39 39
    90 79 113 90 l43 20 0 177 0 176 68 11 c37 6 81 12 97 15 45 6 197 -4 257 -18z
    m-602 -170 l0 -84 -55 -42 c-99 -76 -198 -218 -242 -348 -21 -63 -27 -101 -31
    -207 l-4 -131 103 -152 103 -152 233 0 233 0 0 245 0 245 75 0 75 0 0 -245 0
    -245 237 2 236 3 99 145 99 145 -4 135 c-4 110 -9 150 -30 215 -44 133 -139
    268 -247 351 l-50 38 0 83 c0 46 4 83 8 83 18 0 149 -100 206 -156 119 -120
    198 -259 238 -421 30 -122 29 -294 -1 -418 -40 -165 -149 -349 -270 -458 -101
    -91 -252 -168 -397 -203 -105 -26 -295 -23 -409 4 -400 99 -677 450 -678 857
    -1 249 75 441 241 617 72 75 200 177 225 178 4 0 7 -38 7 -84z";
}

.user{
    -fx-background-color: #ffffff;
    -fx-shape:"M2115 5069 c-513 -88 -978 -331 -1355 -709 -213 -212 -347 -399 -487
    -676 -122 -242 -191 -466 -238 -776 -21 -134 -21 -562 0 -696 47 -310 116
    -534 238 -776 140 -277 274 -464 487 -676 380 -381 840 -621 1358 -709 172
    -29 198 -31 442 -31 244 0 270 2 442 31 518 88 978 329 1358 709 218 218 356
    412 495 695 110 223 172 417 214 663 29 172 31 198 31 442 0 244 -2 270 -31
    442 -42 246 -104 440 -214 663 -139 283 -277 477 -495 695 -380 380 -840 621
    -1358 709 -175 30 -195 31 -450 30 -248 0 -279 -2 -437 -30z m739 -264 c453
    -59 888 -263 1244 -582 l54 -48 -55 -110 c-161 -322 -386 -558 -702 -737 -73
    -41 -246 -117 -320 -140 -81 -25 -273 -59 -387 -69 -325 -29 -695 54 -980 219
    -308 179 -526 410 -685 727 l-55 110 54 48 c350 314 788 521 1235 582 137 18
    455 18 597 0z m-2006 -1015 c152 -253 401 -505 652 -661 99 -60 340 -176 388
    -185 17 -3 32 -10 32 -14 0 -4 -25 -24 -56 -45 -31 -20 -96 -77 -144 -125
    -236 -238 -361 -556 -347 -880 18 -396 219 -743 555 -959 309 -198 723 -237
    1065 -101 441 176 733 586 754 1060 11 257 -69 519 -225 740 -59 83 -195 218
    -266 266 -31 20 -56 40 -56 44 0 4 15 11 33 14 47 9 288 125 387 185 289 179
    568 480 717 775 l20 39 82 -123 c178 -265 292 -554 358 -900 26 -137 26 -583
    0 -720 -95 -502 -307 -913 -641 -1245 -349 -346 -818 -576 -1302 -640 -149
    -19 -439 -19 -588 0 -484 64 -953 294 -1302 640 -334 332 -546 743 -641 1245
    -26 137 -26 583 0 720 66 346 180 635 358 900 l82 123 20 -39 c11 -21 40 -73
    65 -114z m1905 -986 c172 -39 330 -128 453 -256 86 -89 103 -114 156 -220 59
    -120 74 -172 89 -297 35 -305 -75 -590 -302 -787 -185 -160 -447 -243 -680
    -216 -426 51 -749 367 -800 784 -14 122 -1 290 31 382 21 62 91 206 122 249
    43 62 164 179 234 227 111 76 279 136 424 154 57 7 200 -4 273 -20z";
}

.lupa{
    -fx-background-color: #ffffff;
    -fx-shape:"M4113 5079 c-23 -11 -58 -37 -77 -57 -20 -20 -142 -203 -273 -407
    -130 -203 -316 -495 -414 -648 -98 -153 -183 -295 -189 -315 -14 -53 -12 -133
    5 -182 l15 -43 -167 -261 c-91 -144 -169 -265 -173 -269 -4 -5 -38 7 -76 26
    -199 100 -414 148 -659 148 -283 0 -545 -71 -795 -216 -236 -137 -470 -398
    -588 -655 -65 -144 -113 -298 -127 -412 -4 -32 -11 -58 -16 -58 -5 0 -9 -83
    -9 -185 0 -102 4 -185 9 -185 5 0 12 -26 16 -57 22 -180 115 -420 233 -598
    233 -351 604 -600 1001 -671 107 -19 443 -18 554 1 198 35 448 143 618 269
    336 249 549 593 620 1006 17 95 17 372 0 470 -54 321 -193 594 -423 835 l-99
    104 171 269 172 270 45 5 c69 7 151 54 197 113 23 28 139 206 259 395 120 189
    299 470 398 624 99 154 182 292 185 308 4 15 10 27 15 27 5 0 9 36 9 80 0 44
    -3 80 -7 80 -5 0 -16 20 -26 43 -22 54 -86 120 -141 147 -61 29 -204 29 -263
    -1z m-1853 -2620 c451 -72 790 -495 766 -954 -26 -504 -425 -886 -924 -885
    -248 0 -473 94 -650 272 -180 179 -264 387 -264 653 0 238 59 411 201 588 133
    164 351 293 556 326 73 12 240 12 315 0z";
}

.mas{
    -fx-background-color: #ffffff;
    -fx-shape: "M1990 5062 c-7 -3 -10 -330 -10 -955 0 -524 -4 -958 -8 -964 -6 -10
    -215 -13 -968 -15 l-959 -3 0 -568 0 -568 952 1 c857 0 953 -1 967 -16 14 -14
    16 -111 16 -970 l0 -954 570 0 570 0 0 960 c0 944 0 959 20 970 13 7 318 10
    960 10 517 -1 945 2 950 5 12 7 14 1104 2 1122 -6 10 -215 13 -968 15 l-959 3
    -3 963 c-1 529 -5 962 -10 962 -147 3 -1115 4 -1122 2z";
}